@import url('https://fonts.googleapis.com/css2?family=Mukta+Vaani:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Junge&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300&family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500&display=swap');
/*reset */
html{
    font-size: 62.5%; /* 16 px * 62.5 % = 1.000 rem */
    scroll-behavior: smooth;
    background: #000 url(../asset/cover.jpg) no-repeat fixed center center / cover;
}
body{
    font: 1.6rem 'fredoka', sans-serif;
    margin: 0;
 

}
h1,h2,h3,h4,h5,p,ul{
    padding: 0;
    margin: 0;
    list-style: none;
}
h1,h2,h3,h4,h5{
    font-weight: 200;
}
img{
    display: inline-block;
    width:100%;
    height: 100%;
    object-fit: cover;
    vertical-align: middle;    
}
*{
    box-sizing: border-box;  /* permet de faire un saut dans la reference et d'ajuster la taille*/
}

/*theme CSS*/
:root{
    --bgc-primary: #555A49;
    --bgc-secondary: #d3d2d6;
    --color-header:#46494c;
    --color-text:#000;
}
/* main{
    
} */
header h1{
    max-width: 120rem;
    margin: 0 auto;
    color:#d3d2d6;
    background-color: var(--color-header);
    border-radius: 1rem;
}
nav{
    max-width: 120rem;
    margin: 0 auto;
    padding-bottom: 2rem;
    background-color: rgba(250,250,250,0.8);
}
nav h2 ul,main, footer{
    max-width: 120rem;
    margin: 1rem auto;
  
    overflow: hidden;
    border-radius: 2rem;
}
header h1,section h2,p,nav{
    text-align: justify;
    padding: 1rem;
}
section p, footer{
    background-color: rgba(250,250,250,0.8);
}
section img,h2, footer{
    margin: 1rem auto;
    
}
ul li{
    width: 200px;
    height: 200px;
    border-radius: 1rem;
    display: inline-block;   
    background-color: rgba(250,250,250,0.8);
   
    width: calc(100% / 4 - 1rem - .4rem);
    display: inline-block;
    margin: 0 1rem 1rem 0 ;
    padding: .4rem .4rem .4rem .4rem;
    border: #000 0.2rem solid;

}
section p{
    padding-bottom: 1rem;
}
section h2{
    margin-top: 5rem;
    border: #000 0.1rem solid;
    background-color: rgba(250,250,250,0.8);

}
section p, nav{
    border: #000 0.1rem solid;
    border-radius: 1.5rem;

}

footer p{
    text-align: center;
}

ul li :last-child{
    margin:0;
    
}
.grid{
    max-width: 120rem;
    margin: 5rem auto 2rem;
  }
  .grid ul{
      display: grid;
      grid-template-columns: repeat(2,1fr);
      padding: 1rem;
      border: solid .2rem #ccc;
      background-color: #fff;
      gap: 1rem;
  }
